
h1 {
    color:red;   
}
* {
    box-sizing:border-box;

}
.navbar-cont{
    display:block;
    color:red;
    text-align:center; 
    width:20px;
    border:20px solid grey;
    font-size:30px;
    padding:20px;
    margin:auto;
}
.navbar-cont a {
    border:2px solid grey;
}
.symbol {
    border:20px solid blue;
    background-color: white;
    padding:20px;

}
    h2 {
    text-align:left;
    font-size:20px;
    color:blue;
}
.left-column {
    float: left;
    width: 50%;
      }
.right-column {
    float: left;
    width: 50%;
      }

.row {
    display:block;
    }
 footer {
     display:block;
     color:blue;

    }
.group:after {
    content: "";
    display: table;
    clear: both;
    }