
h1 {
    color:red;   
}
.navbar-cont{
       display:block;
       background:grey;
       border:15px blue; 
       text-align:center;
       font-size:35px;
       float:left;
       min-height: 25px;
}
.navbar ul li {
display:inline-block;
}
.symbol {
    border-style: solid blue 35px;
    width:200px;
    padding:20px;
    background:white;
 }
aside {
     float:right;
    }
 